<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @following.person_id %>
</p>

<p>
  <strong>Follower:</strong>
  <%= @following.follower_id %>
</p>

<%= link_to 'Edit', edit_following_path(@following) %> |
<%= link_to 'Back', followings_path %>
