<% if current_user %>

<div class="ui large top menu" id="menu" style="height: 50px;" >
  <div class="ui container">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <div class="item" style="padding: 0px;" id="title">
      <%= link_to image_tag("title.png", :style => 'height: 50px;') %>
    </div>
    <div class="right menu">
      <a href="<%= root_path %>" class="item <%= 'active' if local_assigns[:active] == 'home' %>">Home</a>
      <a href="<%= books_url %>" class="item <%= 'active' if local_assigns[:active] == 'books' %>">Browse Books</a>
      <a href="<%= users_url %>" class="item <%= 'active' if local_assigns[:active] == 'users' %>">Community</a>
      <div class="ui dropdown item">
        My Profile


        <i class="dropdown icon"></i>
        <div class="menu">
          <a href="">
            <div class="item">

              &nbsp;<b><%= current_user.first %>&nbsp;<%= current_user.last %></b>
            </div>
          </a>
          <div class="divider"></div>
          <div class="item"><i class="user icon"></i><%= link_to "View Profile", current_user %></div>
          <div class="item"><i class="pencil icon"></i> <%= link_to "Edit profile", edit_user_registration_path %></div>
          <div class="item"><i class="power icon"></i> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></div>

        </div>
      </div>


    </div>
  </div>
</div>

<% else %>

<div class="ui large top fixed menu" id="menu">
  <div class="ui container">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <div class="item" style="padding: 0px;" id="title">
      <%= link_to image_tag("title.png") %>
    </div>
    <div class="right menu">
      <a href="<%= root_path %>" class="active item">Home</a>
      <a href="<%= new_user_session_path %>" class="item">
        <button type="submit" class="ui button" style="color: #F2E6B6; ">
          Sign In
        </button>
      </a>
      <a href="<%= new_user_registration_path %>" class="item">
        <button type="submit" class="ui button" style="color: #F2E6B6;">
          Sign Up
        </button>
      </a>
    </div>
  </div>
</div>

<% end %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/components/dropdown.min.js"></script>
<script>
  $('.ui.menu .ui.dropdown').dropdown({
    on: 'hover'
  });
</script>